@charset "utf-8";

.titleWrap{margin-bottom: 50px;
    text-align: center;
}
.titleWrap h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.titleWrap p {
    font-size: 1.2rem;
    color: #555;
}